<h1><%= @list.id ? 'Edit list' : 'Create list' %></h1>


<%= form_for @list, :html => {:class => "form center"} do |f| %>

 <div class="form-group">

 <%= f.label :name, class: "form-label" %>

 <%= f.text_field :name, class: "form-control" %>

 </div>

 <%= f.submit class: 'btn btn-primary'%>

<% end %>